.twitch-right-bottom-content-else-in-tag-oh{
    display: inline-block;
    border: 2px solid transparent;
    background-color: rgba(83,83,95,0.38);
    border-radius: 100px;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 5px;
    margin-right: 5px;
    overflow: hidden;
    white-space: nowrap;
    
    span{
        padding: 0 8px;
       
    }
}