.twitch-left-live-detail{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
}
.twitch-left-live-detail-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
}
.twitch-left-live-detail-hover{
    position: absolute;
    background-color: rgb(31,31,35);
    max-width: 275px;
    height: 70px;
     left: 60px;
     border-radius: 10px;
     font-size: 12px;
     padding: 7px;
     z-index: 100;  
    .twitch-left-live-detail-hover-name{
        display: flex;
        color: rgb(191,148,255);
        padding-bottom: 4px;
        
    }
    .twitch-left-live-detail-hover-title{
        color: white;
        overflow:hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
       
    }
    .twitch-left-live-detail-hover-live{
        display: flex;
        align-items: center;
        padding-top: 3px;
        .twitch-left-live-detail-hover-live-point{
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: red;
        }
        .twitch-left-live-detail-hover-live-des{
            color: gray;
            padding-left: 5px;
        }
    }
}

.twitch-left-live-detail-display{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 100%;
    .twitch-left-live-detail-display-center{
        margin-left: 10px;
        width: 100%;
    .twitch-left-live-detail-display-name{
      font-size: 14px;
      color:rgb(222, 222, 227);
       
    }
    .twitch-left-live-detail-display-game{
      font-size: 11px;
      color: rgb(173,173,184);
    }
    }
      .twitch-left-live-detail-display-right-container{
        display:flex;
        align-items: center;
        .twitch-left-live-detail-display-red-spot{
            display: block ;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: red;
        } 
        
       
        .twitch-left-live-detail-display-viewer{
            margin-left: 5px;
            font-size: 13px;
            color: rgb(222, 222, 227);
        }
      }
            
    
  
}

.twitch-left-live-detail-display-hover{
    position: absolute;
    background-color: rgb(31,31,35);
    color:white;
    max-width: 200px;
    height: 40px;
     left: 260px;
     border-radius: 10px;
     font-size: 12px;
     padding: 7px;
     z-index: 100;
     overflow:hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
   }
.twitch-left-live-detail-display-delete{
    height: 100%;  
    margin-right: 5px;
    margin-left: 5px;    
}    
    
.twitch-left-live-detail-display-delete-false{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(83,83,95,.38);
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
}
.twitch-left-live-detail-display-delete-true{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(219, 121, 121);
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
} 