*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font-family: Inter,Roobert,Helvetica Neue,Helvetica,Arial,sans-serif;
}
body,html{
    background-color: #0e0e10;
    height: 100%;
}

::-webkit-scrollbar{
    display: none;
}
